{
    "plugins": [
      ["prismjs", {
        "languages": ["javascript", "css", "html", "diff", "js"],
        "plugins": ["line-numbers", "show-language", "diff-highlight"],
        "theme": "okaidia",
        "css": true
      }]
    ]
  }